recursive-include django_echarts/templates *.tpl *.py *.html
include django_echarts/contrib/*.html
include django_echarts/contrib/*/*.html
include django_echarts/contrib/*/*/*.html
include django_echarts/contrib/*/*/*/*.html
