{% load echarts %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    {% block  include_css %}
    {% endblock %}
    {% block extra_css %}
    {% endblock %}
</head>
<body>
<div>
    {% for chart in charts %}
        {% echarts_container chart %}
    {% endfor %}
</div>

{% block include_script %}
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
{% endblock %}
{% block extra_script %}
    {% echarts_js_dependencies charts %}
    {% for chart in charts %}
        {% echarts_js_content chart %}
    {% endfor %}
{% endblock %}
</body>

</html>