{% load echarts %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    {% block  include_css %}
        <style rel="stylesheet">
            li.dje-menu-item {
                display: inline;
                margin: 2px;
            }
        </style>
    {% endblock %}
    {% block extra_css %}
    {% endblock %}
</head>
<body>
{% if url_name %}
<div>
    <ul>
        {% for item in menu %}
        <li class="dje-menu-item">
            {% if item.2 %}
            {{ item.1 }}
            {% else %}
            <a href="{% url url_name item.0 %}">{{ item.1 }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
<hr/>
{% endif %}
<div>
    <p>The chart {{ current_chart_name }} does not exist.</p>
</div>
</body>

</html>