{% load echarts %}
<div class="row">
    {% for chart_info in chart_info_list %}
        <div class="col s12 m4">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{ chart_info.title }}</span>
                    <p>{{ chart_info.description|default:"暂无描述" }}</p>
                    {% if chart_info.tags %}
                        {% for tag in chart_info.tags %}
                            <span class="badge blue white-text">{{ tag }}</span> &nbsp;
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="card-action">
                    <a href="{% url_single_chart chart_info.uri %}">详情</a>
                </div>
            </div>
        </div>
    {% endfor %}

</div>