<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django Echarts Demo</title>
    {% block  include_css %}
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {% endblock %}
    {% block extra_css %}
    {% endblock %}

</head>
<body>


<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Django Echarts</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'index' %}">首页</a></li>
                <li><a href="{% url 'frontend_demo' %}">前端渲染示例</a></li>
                <li><a href="{% url 'backend_demo' %}">后端渲染示例</a></li>
                <li><a href="{% url 'page_demo' %}">Page示例</a></li>
                <li><a href="{% url 'namedcharts_demo' %}">NamedCharts示例</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/kinegratii/django-echarts">github 仓库</a></li>
                <li><a href="http://django-echarts.readthedocs.io/zh_CN/latest/index.html">在线文档</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    {% block main_content %}
    {% endblock %}

    <hr>

    <footer>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <p>&copy; 2017-2018, Powered by Django-Echarts</p>
            </div>
        </div>
    </footer>

</div>
<!--/.container-->
{% block include_script %}
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block extra_script %}
{% endblock %}

</body>
</html>