{% extends 'base.html' %}

{% block main_content %}

    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <a href="javascript:" class="list-group-item" data-echarts-name="simpleBar">柱形图(Bar)</a>
                <a href="javascript:" class="list-group-item" data-echarts-name="simpleKLine">K线图(KLine)</a>
                <a href="javascript:" class="list-group-item" data-echarts-name="simpleMap">地图(Map)</a>
                <a href="javascript:" class="list-group-item" data-echarts-name="simplePie">饼图(Pie)</a>
            </div>
        </div>
        <!--/.sidebar-offcanvas-->
        <div class="col-xs-12 col-sm-10">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <div id="id_echarts_container" style="height: 500px;"></div>

        </div>
        <!--/.col-xs-12.col-sm-9-->


    </div>
{% endblock %}


{% block extra_script %}
    <script src="https://cdn.bootcss.com/echarts/3.6.2/echarts.min.js"></script>
    <script src="http://echarts.baidu.com/asset/map/js/china.js"></script>
    <script type="text/javascript">
        var mChart;
        function loadEcharts(name) {
            var url = '/options/' + name + '/';
            if (mChart != null) {
                mChart.clear();
            }
            mChart = echarts.init(document.getElementById('id_echarts_container'));
            mChart.showLoading();
            $.ajax({
                url: url,
                type: "GET",
                data: null,
                dataType: "json"
            }).done(function (data) {
                mChart.hideLoading();
                mChart.setOption(data);
            });
        }
        $(document).ready(function () {
            $('a[data-echarts-name]').on('click', function () {
                var name = $(this).data('echartsName');
                loadEcharts(name);
            });
            loadEcharts('simpleBar');
        });
    </script>
{% endblock %}