{% extends 'base.html' %}
{% block nav %}
{% endblock %}

{% block main_content %}
    <hr/>
    <div class="page-header">
        <h1>基础示例</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><a href="{% url 'dje_home' %}">网站可视化starter</a></div>
                <div class="panel-body">
                    <p>django_echarts.starter
                        提供了一个简单便捷的脚手架工具，她负责处理底层的视图逻辑、URL路由、模板、前端界面及其之间的连结，你只需编写构建图表的pyecharts代码。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header">
        <h1>基础示例</h1>
    </div>
    <div class="row">

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><a href="{% url 'backend_demo' %}">后端渲染示例</a></div>
                <div class="panel-body">
                    <p>后端渲染示例</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><a href="{% url 'frontend_demo' %}">前端渲染示例</a></div>
                <div class="panel-body">
                    <p>前端渲染示例</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><a href="{% url 'page_demo' %}">多图表(Page)</a></div>
                <div class="panel-body">
                    <p>多图表(Page)</p>
                </div>
            </div>
        </div>


    </div>
{% endblock %}