{% extends 'base.html' %}
{% block main_content %}
    <div class="page-header">
        <h2>基础示例</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">前端渲染示例</div>
                <div class="panel-body">
                    <p><a href="/frontend_charts_list/">前端渲染示例</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">后端渲染示例</div>
                <div class="panel-body">
                    <p><a href="/backend_charts_list/">后端渲染示例</a></p>
                </div>
            </div>
        </div>

    </div>
    <div class="page-header">
        <h2>其他示例</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Page示例</div>
                <div class="panel-body">
                    <p><a href="/page_demo/">Page示例</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">多图表</div>
                <div class="panel-body">
                    <p><a href="/multiple_charts/">多图表</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}