{% extends 'base.html' %}
{% load echarts %}
{% block main_content %}
    <div class="alert alert-info" role="alert">使用 <code>NamedCharts</code>支持多图表</div>
    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">{{ charts.bar.page_title }}</div>
                <div class="panel-body">
                    {% echarts_container charts.bar %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">{{ charts.pie.page_title }}</div>
                <div class="panel-body">
                    {% echarts_container charts.pie %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_script %}
    {% echarts_js_dependencies charts %}
    {% for chart in charts %}
        {% echarts_js_content chart %}
    {% endfor %}
{% endblock %}